body {
    background-image: linear-gradient( rgba(87, 87, 87, 0.5), rgba(87, 87, 87, 0.5)), url('../Images/baby.jpg');
    background-size: 100%;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    min-height: 100vh;
}

.page-title {
    font-size: 24px;
    font-weight: bold;
}

.cart-header {
    /*background-color: #0040FF;*/
    background-color: #017CA7;
    color: white;
}

.bg-custom {
    background-color: #DAAFF4;
}

.nav-link,
.forgetpassword-link,
.register-link,
.category-link {
    color: #4E004A;
}

.category-link:hover {
    color: #4E004A;
    font-weight: bold;
}

.nav-link:hover,
.forgetpassword-link:hover,
.register-link:hover {
    color: #ffffff;
    text-decoration: none;
}

.search-button {
    background-color: #DAAFF4;
    color: #4E004A;
    border: none;
    border-radius: 50px;
    width: 100px;
    height: 35px;
}

.search-button:hover {
    color: #ffffff;
    font-weight: bold;
    border: 1px solid #4E004A;
}

.login-button,
.register-button,
.editprofile-button {
    background-color: #4E004A;
    border: none;
}

.login-button:hover,
.register-button:hover,
.editprofile-button:hover {
    background-color: #ffffff;
    color: #4E004A;
    border: 1px solid #4E004A;
}

.title {
    font-weight: bold;
    color: #4E004A;
    text-decoration: underline;
    text-underline-offset: 2px;
}

.required-indicator {
    font-weight: bold;
    color: #4E004A;
}

.productitem-container {
    border: 1px solid #4E004A;
    border-radius: 15px;
    box-shadow: 5px 5px #4E004A;
    background-color: #ffffff;
}

.detailborder {
    border: 1px solid #4E004A;
    border-radius: 15px;
    box-shadow: 2.5px 2.5px #4E004A;
}

.add-to-cart .btn-qty {
    width: 52px;
    height: 46px;
}

.add-to-cart .btn { border-radius: 0; }

