body {
    background-color: #F7E1FF;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.page-title {
    font-size: 24px;
    font-weight: bold;
}

.cart-header {
    /*background-color: #0040FF;*/
    background-color: #017CA7;
    color: white;
}

.bg-custom {
    background-color: #DAAFF4;
}

.nav-link {
    color: #4E004A;
}

.nav-link:hover {
    color: #ffffff;
    font-weight: bold;
}

.search-button {
    background-color: #DAAFF4;
    color: #4E004A;
    border: none;
    border-radius: 50px;
    width: 100px;
    height: 35px;
}

.search-button:hover {
    color: #ffffff;
    font-weight: bold;
    border: 1px solid #4E004A;
}

.login-form {
    background-color: #DAAFF4;
}