body {
    background-color: #ffffff;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

.page-title {
    font-size: 24px;
    font-weight: bold;
}

.cart-header {
    /*background-color: #0040FF;*/
    background-color: #017CA7;
    color: white;
}

.bg-custom {
    background-color: #DAAFF4;
}

.nav-link,
.forgetpassword-link,
.register-link {
    color: #4E004A;
}

.nav-link:hover,
.forgetpassword-link:hover,
.register-link:hover {
    color: #ffffff;
    text-decoration: none;
}

.search-button {
    background-color: #DAAFF4;
    color: #4E004A;
    border: none;
    border-radius: 50px;
    width: 100px;
    height: 35px;
}

.search-button:hover {
    color: #ffffff;
    font-weight: bold;
    border: 1px solid #4E004A;
}

.login-button,
.register-button {
    background-color: #4E004A;
    border: none;
}

.login-button:hover,
.register-button:hover {
    background-color: #ffffff;
    color: #4E004A;
    border: 1px solid #4E004A;
}

.title {
    font-weight: bold;
    color: #4E004A;
    text-decoration: underline;
    text-underline-offset: 2px;
}

.required-indicator {
    font-weight: bold;
    color: #4E004A;
}